<div class="mx-auto flex max-w-screen-md flex-col items-center gap-3 px-2 py-4">
  <div class="navbar bg-base-100">
    <div class="flex-1">
      <h1 class="text-xl font-bold">Ngx-Shot-Chart Demo 🏀</h1>
    </div>
    <div class="flex-none">
      <div class="dropdown dropdown-end dropdown-bottom">
        <div tabindex="0" role="button" class="btn btn-ghost" aria-label="menu">
          <lucide-icon name="ellipsis-vertical"></lucide-icon>
        </div>
        <ul tabindex="0" class="menu dropdown-content z-[1] w-52 rounded-box bg-base-300 p-2 shadow">
          <li>
            @if (theme === 'lemonade') {
              <button
                id="darkModeButton"
                class="btn"
                (click)="switchTheme('dark'); $event.stopImmediatePropagation()"
                role="menuitem"
                aria-label="Switch to dark mode"
              >
                <lucide-icon name="moon"></lucide-icon>
              </button>
            } @else {
              <button
                id="lightModeButton"
                class="btn"
                (click)="switchTheme('lemonade')"
                role="menuitem"
                aria-label="Switch to light mode"
              >
                <lucide-icon name="sun"></lucide-icon>
              </button>
            }
          </li>
          <li>
            <a
              class="btn"
              href="https://www.linkedin.com/in/lucas-neto-moreira/"
              target="_blank"
              role="menuitem"
              id="linkedinButton"
              aria-label="Maintainer's Linkedin page"
            >
              <lucide-icon name="linkedin"></lucide-icon>
            </a>
          </li>
          <li>
            <a
              class="btn"
              href="https://github.com/lucasnbsb/ngx-shot-chart"
              target="_blank"
              role="menuitem"
              id="githubButton"
              aria-label="Project's github page"
            >
              <lucide-icon name="github"></lucide-icon>
            </a>
          </li>
          <li>
            <a
              class="btn"
              href="https://www.npmjs.com/package/ngx-shot-chart"
              target="_blank"
              role="menuitem"
              id="npmButton"
              aria-label="Project's npm page"
            >
              <lucide-icon name="package"></lucide-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="mx-4 w-full max-w-[550px] overflow-hidden rounded-lg border-2 border-current">
    <ngx-shot-chart [league]="leagueForm.value.league!" (ChartClicked)="addShot($event)"></ngx-shot-chart>
  </div>

  <form [formGroup]="symbolForm" class="grid grid-cols-2 gap-5 p-2">
    <label class="form-control col-span-1">
      <div>
        <div class="label" for="symbolSelect">
          <span>Symbol</span>
        </div>
        <select class="select select-bordered w-full max-w-xs" formControlName="symbol" id="symbolSelect">
          @for (symbol of d3Symbols; track $index) {
            <option [ngValue]="symbol.value">{{ symbol.name }}</option>
          }
        </select>
      </div>
    </label>

    <form [formGroup]="leagueForm" class="col-span-1">
      <label class="form-control w-full">
        <span class="label">League</span>
        <select class="select select-bordered w-full max-w-xs" formControlName="league">
          <option value="nba">NBA</option>
          <option value="fiba">FIBA</option>
          <option value="ncaa">NCAA</option>
        </select>
      </label>
    </form>

    <div>
      <label for="sizeRangeInput">Size: {{ symbolForm.value.size | number: '1.1-1' }}</label>
      <div class="flex flex-row gap-2">
        <input id="sizeRangeInput" type="range" min="0" max="1" step="0.1" class="range" formControlName="size" />
      </div>
    </div>

    <div>
      <label for="strokeWitdhRangeInput">Stroke Width: {{ symbolForm.value.strokeWidth | number: '1.1-1' }}</label>
      <div class="flex flex-row gap-2">
        <input
          id="strokeWitdhRangeInput"
          type="range"
          min="0"
          max="1"
          step="0.1"
          class="range"
          formControlName="strokeWidth"
          aria-labelledby=""
        />
      </div>
    </div>

    <div class="flex items-center gap-2">
      <label for="strokeColorInput">Stroke color</label>
      <input id="strokeColorInput" type="color" formControlName="stroke" />
    </div>

    <div class="flex items-center gap-2">
      <label for="fillColorInput">Fill color</label>
      <input id="fillColorInput" type="color" formControlName="fill" />
    </div>
  </form>

  <button class="btn btn-primary col-span-2" type="button" (click)="clearShots()">Clear</button>

  @if (lastShotInfo()) {
    <section class="mx-auto flex w-full max-w-lg flex-col gap-2">
      <span class="text-lg italic">Last shot's info (emmited with every click)</span>

      <pre class="rounded-lg bg-base-200 p-4"><code class="text-xs md:text-base">{{lastShotInfo() | json}}</code></pre>
    </section>
  }

  @if (lastCode()) {
    <section class="mx-auto flex w-full max-w-lg flex-col gap-2">
      <span class="text-lg italic">Last executed call</span>

      <pre
        class="whitespace-pre rounded-lg bg-base-200 p-4"
      ><code class="text-xs md:text-base">{{lastCode()}}</code></pre>
    </section>
  }
</div>
